
$section-background-color: #eeebe7;
$icon-label-color: #8e8b85;
$header-text-color: #8e8b85;
$main-title-color: #45495d;
$main-paragraph-color: #8e8b85;
$button-background: #01c597;
$read-more-btn-color: #d5ad4b;
$footer-text-color: #45495d;
$limited-offer-text-color: #8e8b85;
