<container class="tm-footer">
    <row class="tm-footer-table">
        <columns small="12">
            <center>
                <p class="tm-footer-title"><em>Stay Connected</em></p>
            </center>
            <row class="tm-social-media-btns">
                <columns small="2" large="2">
                    <a href="http://link.thrivemarket.com/click/6403228.80851/aHR0cDovL3R3aXR0ZXIuY29tL3Rocml2ZW1rdA/55523792975910d63d394ae0Bf1dc3220" target="_blank">
                        <img width="31" src="assets/img/footer/twitter.png" alt="" class="float-center" id="tm-twitter-icon">
                    </a>
                </columns>
                <columns small="2" large="2">
                    <a href="http://link.thrivemarket.com/click/6403228.80851/aHR0cDovL2ZhY2Vib29rLmNvbS90aHJpdmVta3Q/55523792975910d63d394ae0Bae314714" target="_blank">
                        <img width="18" src="assets/img/footer/facebook.png" alt="" class="float-center" id="tm-facebook-icon">
                    </a>
                </columns>
                <columns small="2" large="2">
                    <a href="http://link.thrivemarket.com/click/6403228.80851/aHR0cDovL2luc3RhZ3JhbS5jb20vdGhyaXZlbWt0/55523792975910d63d394ae0B22164344" target="_blank">
                        <img width="31" src="assets/img/footer/instagram.png" alt="" class="float-center" id="tm-instagram-icon">
                    </a>
                </columns>
                <columns small="2" large="2">
                    <a href="http://link.thrivemarket.com/click/6403228.80851/aHR0cDovL3BpbnRlcmVzdC5jb20vdGhyaXZlbWFya2V0/55523792975910d63d394ae0Bad4aacbc" target="_blank">
                        <img width="25" src="assets/img/footer/pinterest.png" alt="" class="float-center" id="tm-pinterest-icon">
                    </a>
                </columns>
                <columns small="2" large="2">
                    <a href="http://link.thrivemarket.com/click/6403228.80851/aHR0cHM6Ly93d3cueW91dHViZS5jb20vY2hhbm5lbC9VQ0VhMkRzOWlGaXRrQ2g3UnhFVzVKUlE/55523792975910d63d394ae0B3b0fa1c9" target="_blank">
                        <img width="36" src="assets/img/footer/youtube.png" alt="" class="float-center" id="tm-youtube-icon">
                    </a>
                </columns>
                <columns small="2" large="2">
                    <a href="https://www.google.com/+ThrivemarketCo" target="_blank">
                        <img width="37" src="assets/img/footer/google_plus.png" alt="" class="float-center tm-social-media-width37" id="tm-googleplus-icon">
                    </a>
                </columns>
            </row>
            <hr>
            <row class="tm-line-break"></row>
            <hr>

            <row class="collapse tm-links">
                <columns large="6" small="6">
                    <a href="#"><p class="text-right">Read Our Blog</p></a>
                </columns>
                <columns large="6" small="6">
                    <a href="#"><p class="text-left">View Email Online</p></a>
                </columns>
            </row>

            <row class="tm-footer-text">
                <columns small="12">
                    <center>
                        <p>Please don't hit 'reply' to this email—we won't be able to email you back from this address and help you thrive! If you need anything, visit our
                            <a href="http://link.thrivemarket.com/click/6164575.173140/aHR0cHM6Ly90aHJpdmVtYXJrZXQuY29tL2ZhcT91aWQ9NjAzNzMyJnVhZXhwdGltZT0xNzcxMTk1NjkzJnVhdG9rZW49N2QzMjhhZWVhYmE3YzQzYmUwMmM3MzAyNDQ1NDI2MTJjNTFmZDliNWE0NTQ2ZDEwZDY3ZjBiN2E3OWRkOTQzMCZjY29kZT00WUlXRUdPMw/55523792975910d63d394ae0Bf4388e26" target="_blank">FAQ</a>
                            or contact
                            <a href="http://link.thrivemarket.com/click/6164575.173140/aHR0cHM6Ly90aHJpdmVtYXJrZXQuY29tL2ZhcS9jb250YWN0P3VpZD02MDM3MzImdWFleHB0aW1lPTE3NzExOTU2OTMmdWF0b2tlbj03ZDMyOGFlZWFiYTdjNDNiZTAyYzczMDI0NDU0MjYxMmM1MWZkOWI1YTQ1NDZkMTBkNjdmMGI3YTc5ZGQ5NDMwJmNjb2RlPTRZSVdFR08z/55523792975910d63d394ae0Bae9b1420" target="_blank">Member Services</a>
                            anytime, and we'll be happy to help!</p>
                        <p>We don't want to see you go, but if you no longer wish to receive promotional emails from us, you can
                            <a href="http://link.thrivemarket.com/oc/55523792975910d63d394ae03o4m7.3plg/7ebe45b1" target="_blank">unsubscribe here</a>
                            or
                            <a href="http://link.thrivemarket.com/oc/55523792975910d63d394ae03o4m7.3plg/7ebe45b1" target="_blank">change your email preferences</a>
                            anytime.
                        </p>
                        <p>4509 Glencoe Ave, Marina Del Rey, CA 90292
                            <br>@2015 Thrive Market All Rights Reserved
                        </p>
                    </center>
                </columns>
            </row>



        </columns>
    </row>
</container>
