<container>
    <row class="tm-limited-offer">
        <columns small="12">
            <center>
                <p class="text-left">Quantities of this special offer are limited and subject to continued availability. Limited offer expires when supplies run out. Minimum order of $69 required for free gift. Gift cards cannot be used towards minimum order value. One use per customer. Coupon codes may not be combined with other coupons or promotional offers. Please visit
                    <a href="http://link.thrivemarket.com/click/6164575.173140/aHR0cHM6Ly90aHJpdmVtYXJrZXQuY29tL3Rlcm1zP3VpZD02MDM3MzImdWFleHB0aW1lPTE3NzExOTU2OTMmdWF0b2tlbj03ZDMyOGFlZWFiYTdjNDNiZTAyYzczMDI0NDU0MjYxMmM1MWZkOWI1YTQ1NDZkMTBkNjdmMGI3YTc5ZGQ5NDMw/55523792975910d63d394ae0Bc55980ac" target="_blank">https://thrivemarket.com/terms</a> for complete Terms of Service.
                </p>
            </center>
        </columns>
    </row>
</container>
