
<row class="tm-main-promo-img">
    <columns large="12">
        <a href="http://link.thrivemarket.com/click/6164575.173140/aHR0cHM6Ly90aHJpdmVtYXJrZXQuY29tP3VpZD02MDM3MzImdWFleHB0aW1lPTE3NzExOTU2OTMmdWF0b2tlbj03ZDMyOGFlZWFiYTdjNDNiZTAyYzczMDI0NDU0MjYxMmM1MWZkOWI1YTQ1NDZkMTBkNjdmMGI3YTc5ZGQ5NDMw/55523792975910d63d394ae0C46464e4f" target="_blank">
            <img src="assets/img/main_promo/12_cookies.jpg" width="640" alt="Free Gift!">
        </a>
    </columns>
</row>
<row class="tm-main-promo-text">
    <columns large="12">
        <center>
            <h5><em>Yours Free!</em></h5>
        </center>
        <center>
            <h3><strong>12 Goodbites Superfood Cookies</strong></h3>
            <p>Now you can enjoy a sweet snack without all the guilt. These Goodbites cookies are raw, vegan, naturally sweet - and made with nutritious superfood ingredients. Plus, get a dozen free with your next purchase of $69+!</p>
            <button href="http://link.thrivemarket.com/click/6164575.173140/aHR0cHM6Ly90aHJpdmVtYXJrZXQuY29tP3VpZD02MDM3MzImdWFleHB0aW1lPTE3NzExOTU2OTMmdWF0b2tlbj03ZDMyOGFlZWFiYTdjNDNiZTAyYzczMDI0NDU0MjYxMmM1MWZkOWI1YTQ1NDZkMTBkNjdmMGI3YTc5ZGQ5NDMw/55523792975910d63d394ae0D46464e4f" class="medium">Get Your Gift</button>
            <!-- target="_blank" -->
        </center>
    </columns>
</row>
