<container>
    <row class="tm-nutrition-line-break"></row>
    <row class="tm-nutrition-icons">
        <columns small="12" large="6">
            <row>
                <columns small="4">
                    <a href="http://link.thrivemarket.com/click/6164575.173140/aHR0cHM6Ly90aHJpdmVtYXJrZXQuY29tL3BhbGVvP3VpZD02MDM3MzImdWFleHB0aW1lPTE3NzExOTU2OTMmdWF0b2tlbj03ZDMyOGFlZWFiYTdjNDNiZTAyYzczMDI0NDU0MjYxMmM1MWZkOWI1YTQ1NDZkMTBkNjdmMGI3YTc5ZGQ5NDMwJmNjb2RlPTRZSVdFR08z/55523792975910d63d394ae0B1f246a86" style="display:block" target="_blank">
                        <img src="assets/img/nutrition_info/paleo.png" width="82" alt=""  class="float-center">
                    </a>
                </columns>
                <columns small="4">
                    <a href="http://link.thrivemarket.com/click/6164575.173140/aHR0cHM6Ly90aHJpdmVtYXJrZXQuY29tL3BhbGVvP3VpZD02MDM3MzImdWFleHB0aW1lPTE3NzExOTU2OTMmdWF0b2tlbj03ZDMyOGFlZWFiYTdjNDNiZTAyYzczMDI0NDU0MjYxMmM1MWZkOWI1YTQ1NDZkMTBkNjdmMGI3YTc5ZGQ5NDMwJmNjb2RlPTRZSVdFR08z/55523792975910d63d394ae0B1f246a86" style="display:block" target="_blank">
                        <img src="assets/img/nutrition_info/gluten-free.png" width="82" alt="" class="float-center">
                    </a>
                </columns>
                <columns small="4">
                    <a href="http://link.thrivemarket.com/click/6164575.173140/aHR0cHM6Ly90aHJpdmVtYXJrZXQuY29tL3BhbGVvP3VpZD02MDM3MzImdWFleHB0aW1lPTE3NzExOTU2OTMmdWF0b2tlbj03ZDMyOGFlZWFiYTdjNDNiZTAyYzczMDI0NDU0MjYxMmM1MWZkOWI1YTQ1NDZkMTBkNjdmMGI3YTc5ZGQ5NDMwJmNjb2RlPTRZSVdFR08z/55523792975910d63d394ae0B1f246a86" style="display:block" target="_blank">
                        <img src="assets/img/nutrition_info/vegan.png" width="82" alt="" class="float-center">
                    </a>
                </columns>
            </row>
            <row class="collapse">
                <columns small="4">
                    <p class="text-center">Paleo</p>
                </columns>
                <columns small="4">
                    <p class="text-center">Gluten-Free</p>
                </columns>
                <columns small="4">
                    <p class="text-center">Vegan</p>
                </columns>
            </row>
        </columns>
        <columns large="6" small="12">
            <row>
                <columns small="4">
                    <a href="http://link.thrivemarket.com/click/6164575.173140/aHR0cHM6Ly90aHJpdmVtYXJrZXQuY29tL3BhbGVvP3VpZD02MDM3MzImdWFleHB0aW1lPTE3NzExOTU2OTMmdWF0b2tlbj03ZDMyOGFlZWFiYTdjNDNiZTAyYzczMDI0NDU0MjYxMmM1MWZkOWI1YTQ1NDZkMTBkNjdmMGI3YTc5ZGQ5NDMwJmNjb2RlPTRZSVdFR08z/55523792975910d63d394ae0B1f246a86" style="display:block" target="_blank">
                        <img src="assets/img/nutrition_info/non-gmo.png" width="82" alt="" class="float-center">
                    </a>
                </columns>
                <columns small="4">
                    <a href="http://link.thrivemarket.com/click/6164575.173140/aHR0cHM6Ly90aHJpdmVtYXJrZXQuY29tL3BhbGVvP3VpZD02MDM3MzImdWFleHB0aW1lPTE3NzExOTU2OTMmdWF0b2tlbj03ZDMyOGFlZWFiYTdjNDNiZTAyYzczMDI0NDU0MjYxMmM1MWZkOWI1YTQ1NDZkMTBkNjdmMGI3YTc5ZGQ5NDMwJmNjb2RlPTRZSVdFR08z/55523792975910d63d394ae0B1f246a86" style="display:block" target="_blank">
                        <img src="assets/img/nutrition_info/organic.png" width="82" alt="" class="float-center">
                    </a>
                </columns>
                <columns small="4">
                    <a href="http://link.thrivemarket.com/click/6164575.173140/aHR0cHM6Ly90aHJpdmVtYXJrZXQuY29tL3BhbGVvP3VpZD02MDM3MzImdWFleHB0aW1lPTE3NzExOTU2OTMmdWF0b2tlbj03ZDMyOGFlZWFiYTdjNDNiZTAyYzczMDI0NDU0MjYxMmM1MWZkOWI1YTQ1NDZkMTBkNjdmMGI3YTc5ZGQ5NDMwJmNjb2RlPTRZSVdFR08z/55523792975910d63d394ae0B1f246a86" style="display:block" target="_blank">
                        <img src="assets/img/nutrition_info/raw.png" width="82" alt="" class="float-center">
                    </a>
                </columns>
            </row>
            <row>
                <columns small="4">
                    <p class="text-center">Non-GMO</p>
                </columns>
                <columns small="4">
                    <p class="text-center">Organic</p>
                </columns>
                <columns small="4">
                    <p class="text-center">Raw</p>
                </columns>
            </row>



        </columns>
        <!-- <columns small="4" large="2">
            <a href="http://link.thrivemarket.com/click/6164575.173140/aHR0cHM6Ly90aHJpdmVtYXJrZXQuY29tL3BhbGVvP3VpZD02MDM3MzImdWFleHB0aW1lPTE3NzExOTU2OTMmdWF0b2tlbj03ZDMyOGFlZWFiYTdjNDNiZTAyYzczMDI0NDU0MjYxMmM1MWZkOWI1YTQ1NDZkMTBkNjdmMGI3YTc5ZGQ5NDMwJmNjb2RlPTRZSVdFR08z/55523792975910d63d394ae0B1f246a86" style="display:block" target="_blank">
                <img src="assets/img/nutrition_info/paleo.png" width="82" alt=""  class="float-center">
            </a>
            <p class="text-center">Paleo</p>
        </columns>
        <columns small="4" large="2">
            <a href="http://link.thrivemarket.com/click/6164575.173140/aHR0cHM6Ly90aHJpdmVtYXJrZXQuY29tL3BhbGVvP3VpZD02MDM3MzImdWFleHB0aW1lPTE3NzExOTU2OTMmdWF0b2tlbj03ZDMyOGFlZWFiYTdjNDNiZTAyYzczMDI0NDU0MjYxMmM1MWZkOWI1YTQ1NDZkMTBkNjdmMGI3YTc5ZGQ5NDMwJmNjb2RlPTRZSVdFR08z/55523792975910d63d394ae0B1f246a86" style="display:block" target="_blank">
                <img src="assets/img/nutrition_info/gluten-free.png" width="82" alt="" class="float-center">
            </a>
            <p class="text-center">Gluten-Free</p>
        </columns>
        <columns small="4" large="2">
            <a href="http://link.thrivemarket.com/click/6164575.173140/aHR0cHM6Ly90aHJpdmVtYXJrZXQuY29tL3BhbGVvP3VpZD02MDM3MzImdWFleHB0aW1lPTE3NzExOTU2OTMmdWF0b2tlbj03ZDMyOGFlZWFiYTdjNDNiZTAyYzczMDI0NDU0MjYxMmM1MWZkOWI1YTQ1NDZkMTBkNjdmMGI3YTc5ZGQ5NDMwJmNjb2RlPTRZSVdFR08z/55523792975910d63d394ae0B1f246a86" style="display:block" target="_blank">
                <img src="assets/img/nutrition_info/vegan.png" width="82" alt="" class="float-center">
            </a>
            <p class="text-center">Vegan</p>
        </columns>
        <columns small="4" large="2">
            <a href="http://link.thrivemarket.com/click/6164575.173140/aHR0cHM6Ly90aHJpdmVtYXJrZXQuY29tL3BhbGVvP3VpZD02MDM3MzImdWFleHB0aW1lPTE3NzExOTU2OTMmdWF0b2tlbj03ZDMyOGFlZWFiYTdjNDNiZTAyYzczMDI0NDU0MjYxMmM1MWZkOWI1YTQ1NDZkMTBkNjdmMGI3YTc5ZGQ5NDMwJmNjb2RlPTRZSVdFR08z/55523792975910d63d394ae0B1f246a86" style="display:block" target="_blank">
                <img src="assets/img/nutrition_info/non-gmo.png" width="82" alt="" class="float-center">
            </a>
            <p class="text-center">Non-GMO</p>
        </columns>
        <columns small="4" large="2">
            <a href="http://link.thrivemarket.com/click/6164575.173140/aHR0cHM6Ly90aHJpdmVtYXJrZXQuY29tL3BhbGVvP3VpZD02MDM3MzImdWFleHB0aW1lPTE3NzExOTU2OTMmdWF0b2tlbj03ZDMyOGFlZWFiYTdjNDNiZTAyYzczMDI0NDU0MjYxMmM1MWZkOWI1YTQ1NDZkMTBkNjdmMGI3YTc5ZGQ5NDMwJmNjb2RlPTRZSVdFR08z/55523792975910d63d394ae0B1f246a86" style="display:block" target="_blank">
                <img src="assets/img/nutrition_info/organic.png" width="82" alt="" class="float-center">
            </a>
            <p class="text-center">Organic</p>
        </columns>
        <columns small="4" large="2">
            <a href="http://link.thrivemarket.com/click/6164575.173140/aHR0cHM6Ly90aHJpdmVtYXJrZXQuY29tL3BhbGVvP3VpZD02MDM3MzImdWFleHB0aW1lPTE3NzExOTU2OTMmdWF0b2tlbj03ZDMyOGFlZWFiYTdjNDNiZTAyYzczMDI0NDU0MjYxMmM1MWZkOWI1YTQ1NDZkMTBkNjdmMGI3YTc5ZGQ5NDMwJmNjb2RlPTRZSVdFR08z/55523792975910d63d394ae0B1f246a86" style="display:block" target="_blank">
                <img src="assets/img/nutrition_info/raw.png" width="82" alt="" class="float-center">
            </a>
            <p class="text-center">Raw</p>
        </columns> -->
    </row>
</container>
